/*
Estilos da homepage index.html
*/

.center {
    text-align: center;
}

.cdts{
    font-size: 20px;
    text-align: center;
}

.justify{
    text-align:left;
}

.redback {
    background-color: red;
}

.container{
    display: flex;
    align-items: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

#menu li {
    display: inline;
    padding: 20px;
    text-decoration: dotted;
}

#menu li a {
    font-size: larger;
    text-decoration:none;
    color: rgb(46, 23, 175);
}

#menu li a:hover {
    color: red;
}

.white-letter {
    color: white;
}

.tm-social{
    width: 40px;
    height: 40px;
    padding: 40px;
}

/*
MEDIA QUERIES
*/
@media screen and (min-width: 800px) {
    
}

/*
Estilos da page contato.html
*/

.mge {
    margin-left: 30px;
}

.mgd {
    margin-right: 30px;
}

.mgup {
    margin-top: 30px;
}

.mgdown {
    margin-bottom: 30px;
}